body {
  padding-top: 75px;
}

@import "_partials/octicons";

.border {
  border: 1.2px solid #aac12b;
}

.background {
  padding-top: 75px;
  background: #bdd732 url('../img/background.png') no-repeat fixed center 110px;
}

/* Takken pagina */
.color-white {
  background-color: #ffffff;
  padding: 6px;
  border: 1.2px solid #dddddd;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
}
.color-kapoenen {
  background-color: #ffff00;
}
.color-welpen {
  background-color: #228b22;
}
.color-jonggivers {
  background-color: #f5821f;
}
.color-givers {
  background-color: #256f91;
}
.color-jins {
  background-color: #ed1c23;
}
.color-leiding {
  background-color: #663399;
}