@import '_partials/octicons';
@import '_modules/costumColors';
@import '_partials/costum-flash';

body {
  padding-top: 75px;
}

.header-margin {
    margin-top: -20px;
}

.border {
  border: 1.2px solid $color-border;
}

.background {
  padding-top: 75px;
  background: $color-background url('../img/background.png') no-repeat fixed center 110px;
}

// Takken pagina
.color-white {
  background-color: $white;
  padding: 6px;
  border: 1.2px solid $white-darker;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
  box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
}

.color-kapoenen {
  background-color: $color-kapoenen;
}

.color-welpen {
  background-color: $color-welpen;
}

.color-jonggivers {
  background-color: $color-jonggivers;
}

.color-givers {
  background-color: $color-givers;
}

.color-jins {
  background-color: $color-jins;
}

.color-leiding {
  background-color: $color-leiding;
}
